@charset "utf-8";

.XWeqiF { opacity: 0; }

.bWoigz { opacity: 1; transition: opacity var(--transition-duration)cubic-bezier(.37,0,.63,1); }

.HTrn1j { opacity: 1; }

.sAGPNe { opacity: 0; transition: opacity var(--transition-duration)cubic-bezier(.37,0,.63,1); }

.cCFKrw { opacity: 0; }

.yifJnQ { opacity: 1; transition: opacity var(--transition-duration)cubic-bezier(.64,0,.78,0); }

._mj5qU { opacity: 1; }

.gG6uhp { opacity: 0; transition: opacity var(--transition-duration)cubic-bezier(.22,1,.36,1); }

.k0CnHT { transform: translate(100%); }

.URQNsX { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translate(0px); }

.CCwVTE { transform: translate(0px); }

.TX_1qK { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translate(-100%); }

.JMRv7x { transform: translate(-100%); }

.AOzCGi { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translate(0px); }

.WzSMGx { transform: translate(0px); }

.I76Pz6 { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translate(100%); }

.bX95uQ { transform: translateY(100%); }

.Ogwj62 { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translateY(0px); }

.GdyWfW { transform: translateY(0px); }

.YxqFze { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translateY(-100%); }

.NrDww4 { transform: translateY(-100%); }

.ciVV17 { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translateY(0px); }

.BMKrqh { transform: translateY(0px); }

.jNxMkI { transition: transform var(--transition-duration)cubic-bezier(.87,0,.13,1); transform: translateY(100%); }

body:not(.responsive) .Y3K28_ { overflow-x: clip; }

:root:active-view-transition .Y3K28_ { view-transition-name: page-group; }

.uvik8H { grid-template-rows: 1fr; grid-template-columns: 1fr; height: 100%; display: grid; }

.uvik8H > div { grid-area: 1 / 1 / 2 / 2; place-self: stretch !important; }